*{

box-sizing: border-box;
margin: 0;
padding: 0;
}

.logo{
    width: 80px;
}
.nav-item{
    padding: 5px;
    font-size: 15px;
}
.nav-item :hover{
    background-color: rgb(42, 6, 133);
    border-radius: 6px;
}

.img{
    width: 300px;
}



.titulo-AV,.titulo-AK,.titulo-Quir{
color: white;
font-size: 25px;
margin-top: 70px;
font-family: 'Cinzel', serif;
font-family: 'Comfortaa', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-weight: bold;

}
.text-AV,.text-AK,.text-Quir{
    margin-top: 20px;
    color: white;
    font-size: 23px;
    font-family: 'DM Serif Display', serif;
    
} 

.instrution{
  height: 600px; 
  margin-top: 10px;
  background-color: cadetblue;
  margin-top: 20px;
}
.logo-redes{
   
    width: 400px;
    height: 60px;
    margin-top: 160px;
    margin-left: 510px;
    
    
}


.text{
    color: white;
    font-size: 20px;
    margin-top: 150px;
    text-align: center;
    

    
}

title{
    margin-top: 500px;
}
.btn{
    margin-top: 100px;
    margin-left: 200px;
}
@media (min-width:768px)and (max-width: 1024px) {

.logo-redes{
    margin-left: 250px;
}

.btn{
    margin-left: 90px;
}

}


@media (max-width: 450px) {

.logo-redes{
margin-left: 45px;

}

.btn{
    margin-left: 18px;
}


}
    



    
